spring:
  datasource:
    url: jdbc:mysql://${LOCAL_DB_ENDPOINT}/hotdeal_ecommerce_user_address?useSSL=false&allowPublicKeyRetrieval=true
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: ${REDIS_LOCAL_HOST}
      port: ${REDIS_LOCAL_PORT}
      username: ${REDIS_LOCAL_USERNAME}
      password: ${REDIS_LOCAL_PASSWORD}

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:19090/eureka/
